
.DS_Store

.idea/.name

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.DS_Store

.idea/misc.xml

.idea/modules.xml

.idea/nickcanada-wp.iml

.idea/vcs.xml

.idea/workspace.xml

db/
docker-compose.yml
wordpress/wp-content/themes/diginet/library/.sass-cache/
wordpress/wp-content/themes/diginet/library/node_modules/

wp-content/
wp-content/uploads/*
sampledata/